nav{
    background-color: #ececec;
}
body {
font-family: 'Rajdhani', sans-serif;
width: 800;

/* margin-left: 20vw;
margin-right: 20vw; */
}
ul {
    list-style-type: none ;
    
}
header{
    
 
    background: linear-gradient(to top, #33333300, #ececec) , url(./media/switzerland-862870_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no repeat;
 
   
}
 h1{
    letter-spacing: 40px;
 }

.img-custom{
    position: absolute;
    bottom: -140px;
    left:0;
    width: 100%;

    
   
      
}


main{
    height: 100vh;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.imgmain{
    width: 100%;
}

  





/* nav {
    height: 10vh;
    background-color: black;
} */ 